/* src/assets/styles/global.css */
html, body {
    height: 100%; /* 重要 */
    margin: 0;
    display: flex;
    flex-direction: column;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* 使用视口高度来确保填满整个屏幕 */
}

.layout {
    flex: 1; /* 使 layout 占用所有可用空间，推动 footer 到底部 */
    display: flex;
    flex-direction: column;
}



.server-card-container {
    display: flex;           /* 启用 Flexbox */
    flex-wrap: wrap; /* 允许子元素换行 */
    width: 100%;
}
.servergroup {
    color: #333;            /* 字体颜色设置为深灰色，增加可读性 */
    background-color: #f9f9f9; /* 背景色与.serverLink相协调 */
    padding: 10px 20px;    /* 上下左右内边距 */
    margin: 10px auto;     /* 与.serverLink保持一致的外边距 */
    border-radius: 14px;   /* 圆角边框 */
    font-size: 1.4rem;     /* 字体大小适中 */
    font-weight: bold;     /* 字体加粗，使标题更加突出 */
    text-align: center;    /* 文字居中 */
    width: 85%;           /* 宽度占满容器，可根据布局调整 */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* 轻微的阴影效果增加层次感 */
    display: block;        /*块级显示，确保独占一行 */
}
.serverCard {
    flex: 1;                 /* 每个 serverLink 元素平均分配空间 */
    margin: 10px 10px;          /* 可选：在元素之间添加一些间隙 */
}

.serverCard{
    color: #000;
    background: #f2f2f2;
    border: 5px solid #f2f2f2;
    border-width: 5px 8px;
    border-radius: 28px;
    align-items: center;
    padding: .1rem 1.2rem .1rem 0;
    text-decoration: none;
    display: flex;
}
.serverImage{
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 38px;
    width: 48px;
    min-width: 48px;
    height: 48px;
    margin-right: .55rem;
}
.serverImage .serverMode{
    background: radial-gradient(50% 50%, transparent 0%, rgba(0, 0, 0, .286) 100%);
    border-radius: 38px;
    height: 100%;
    margin-top: -.8rem;
}

.serverImage .serverMode h1{
    color: #fff;
    text-align: center;
    padding-top: 1.5rem;
    font-size: 1.2rem;
    line-height: 0;
}

.serverDescription {
    white-space: nowrap;
    margin: 0;
    overflow: hidden;
}

.serverStatus {
    white-space: nowrap;
    margin-left: auto;
    padding-left: 1rem;
}

.card {
    align-items: center;
    justify-content: start;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex: 1 0 auto; /* 允许卡片根据需要收缩，最小宽度为 auto */
    margin-right: 10px;
    margin-left: 10px;
    overflow: hidden;

    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}



.card .card-content {
    display: flex;
    flex-direction: column;
    padding: 10px;
    flex: 1 1 auto; /* 使内容区域填满除图片外的剩余空间 */
    background: rgba(0, 0, 0, 0.5); /* 统计数据背景 */
    color: white; /* 文本颜色 */
}

.card .card-header, .card .card-stats {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.card .stat {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 10px;
}

.card .stat h4, .card .stat p {
    margin: 2px 0;
}
.topmap p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
.announcement-card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
}

.announcement-card h1 {
    margin-bottom: 15px;
}

.announcements {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.announcement-card .announcement {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.announcement-card .title {
    font-weight: bold;
}

.announcement-card .time {
    color: #666;
    font-size: 0.85rem;
}

.game-card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
}

.maps {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.map {
    width: 100%;
    /* padding-bottom: 30%; Makes the div a square */ 
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    margin: 10px auto;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    display: flex;
}
.map .map-content{
    display: flex;
    flex-direction: column;
    padding: 10px;
    flex: 1 1 auto; /* 使内容区域填满除图片外的剩余空间 */
    background: rgba(0, 0, 0, 0.5); /* 统计数据背景 */
    color: white; /* 文本颜色 */
}
.map .map-title{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.leaderboards {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
}
.leaderboard {
    width: 48%; /* Allows two leaderboards to fit in one row */
    display: flex; /* 使用 flexbox 来居中子元素 */
    flex-direction: column; /* 垂直堆叠子元素 */
    align-items: center; /* 水平居中 */
    justify-content: center; /* 垂直居中，如果需要 */
    text-align: center; /* 文本居中 */
}

.leaderboard h3 {
    color: #000;
    margin-bottom: 10px; /* 添加一些间距在标题和列表之间 */
}

.leaderboard ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 8px;
}

.leaderboard li {
    display: flex;
    justify-content: space-between; /* 使用flex布局并将子元素分散对齐到两端 */
    align-items: center;
    padding: 8px 10px;
    border-bottom: 1px solid #eee;
}

.leaderboard li:last-child {
    border-bottom: none; /* 移除最后一个项的底部边框 */
}

.leaderboard li span:first-child {
    text-align: left; /* 名称左对齐 */
}

.leaderboard li span:last-child {
    text-align: right; /* 分数右对齐 */
    padding-left: 20px; /* 在分数和名称之间添加一些间距 */
}

/* 针对小型设备 */
@media (max-width: 575.98px) {
    .leaderboard li {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 8px 10px;
        border-bottom: 1px solid #eee;
    }
    .leaderboard li span:last-child {
        display: none;
    }
}
